body
{
    width: 960px;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(4,fr);
    grid-template-rows: 80px 300px 150px 1fr;
    grid-gap:13px;
    font-family: sans-serif;
}

header
{
    grid-row: 1/2;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px; 
}

.product1, .product2
{
    background-color: silver;
}

.logo
{
        grid-column: 1/2;
        background-color: silver;
}

.navigation
{
    grid-column: 3/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 45px;
    align-self: center; 

}

.navigation
{
    background-color: silver;
}

.navigation span
{
        align-self: center;
        justify-self: center;
}

.products
{
    grid-row: 1/2;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px; 
    grid-column: 1/5;
    grid-row: 3/4;
}

.img
{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: silver;
}

footer
{
    grid-column: 1/5;
    grid-row: 4/5;
    display: grid;
    align-self: center; 
    justify-content: center;
    background-color: silver;
}